/*
colors{
    #353535
}
*/
body{
    margin:0; 
    font-family: sans-serif;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden; 
}
a{
    text-decoration: none;
}
section{
    margin: 0;
}
.container_principal{
    display: block; 
    margin:0;
}
.container{
    margin:0;
    margin-top: 4em;
}
.content{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background: #232323;
    color:white;
    padding: 2em;
    text-align: left;
}

.desc_content{
    font-size:1em;
    max-width: 60%;
}
.desc_content > li{
    text-decoration:none;
    list-style: none;
}
.prof_photo{
    padding-top: 2em;
}
.prof_photo > figcaption > img{
    display: inline-block;
    border-radius:50%;
    border:1px solid white;
}
.edu_content{
    display: inline-block; 
    padding: 2em;
}
.edu_content_item{
    text-align: left;
}
.edu_content_item > dl{
    font-size:1.1em;
}
.skills_content{
    padding: 1em;
    margin-right:2em;
    font-display: flex;
    justify-content: space-between;
    font-size: 1em;
}
.skills_content_items{
    display: inline-block;
}
.skills_content_items > li{
    list-style: none;
    padding: .3em;
    margin:.2em;
    background: #334565;
    border-radius: 5%;
    z-index:10;
}
.skills_content_items > li:hover{
    background: rgba(230, 116, 24, 0.25);
}
.work_content{
    padding: 1em;
    font-size: 1em;
}
.awards_content{
    padding: 2em;
}
.awards_content > div > ul {
    display: inline-block;
}
.awards_content > div > ul > li{
    list-style: none;
    font-size:1.1em;
    display: block;
    text-align: left;
}
.portfolio_content_items{
    text-align: center;
} 
.portfolio_content_items_ul{
    padding: 0;
}  
.portfolio_content_items_ul li{
    max-width: 60%;
    text-align: justify;
    list-style: none;
    padding: .5em;
}  
.portfolio_content_items_ul li a{
    text-decoration: none;
    color:rgb(41, 48, 110);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: 600;
}
.cont_header{
    background-color:#506f9e;
    color:white; 
    font-weight: bold; 
    text-align: left;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-bottom: 5em;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cont_header > h2{
    display: inline-block; 
    padding: 0; 
    margin:0;
    font-size: 15px;
}
.cont_header > div{
    display: inline-block; 
    padding-left: 2em;
}
.navigator{
    display: inline-block;
    padding: 2em 1em;
}
.navigator > li{
    display: inline-block;
    list-style: none;
    padding-right: .5em;
    text-decoration: none;
    color:aliceblue;
}
.navigator > li > a{
    text-decoration: none;
    color:aliceblue;
}


#ccc, #ppp, #www{
    cursor: pointer;
    display: inline-block;
    padding: .6em;
    margin: .5em;
    border-radius: 10px;
    background: rgb(58, 93, 209);
    color:white;
    width: 20em;
}
.cccprojects{
    display: none;
}
.ppp_projects{
    display: none;
}
.work_projects{
    display: none;
}
.fa-arrow-alt-circle-down{
    color:white;
}

.imgworkproject{
    display: inline-block;
}
.more_content{
    padding: 1em;
    font-size: 1.1em;
    background-color: #232323;
    color:white;
}
.info_detail{
    display: inline-block;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:0;
    padding: 0;
}
.info_detail > li{
    list-style: none;
    color:white;
    text-align: center;
    padding: 1em;
}
.info_detail li a{
    color:white;
    list-style: none;
}
.fa-instagram-square{
    color: white;
    font-size:1.5em;
}
.fa-github{
    color: white;
    font-size:1.5em;
}
.fa-linkedin{
    color: white;
    font-size:1.5em;
}
.fa-behance-square{
    color: white;
    font-size:1.5em;
}
.firm{
    position: fixed;
    right: 0;
    left:0;
    bottom: .5em;
    text-align: center;
    font-size:15px;
}

/*animation square*/
.cuadrados, .cuadrados2{
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    z-index: 0;
}

.cuadrados2 > li{
    list-style: none;
    position: absolute;
    list-style: none;
    display: block;
    width: 30px;
    height: 30px;
    bottom:-700px;
    background-color: rgba(255, 255, 255, 0.15);
    -webkit-animation: square 25s infinite linear;
    -moz-animation: square 25s infinite linear;
    animation: square 25s infinite linear;
}

.cuadrados > li{
    list-style: none;
    position: absolute;
    list-style: none;
    display: block;
    width: 30px;
    height: 30px;
    bottom:-20px;
    background-color: rgba(255, 255, 255, 0.15);
    -webkit-animation: square 25s infinite linear;
    -moz-animation: square 25s infinite linear;
    animation: square 25s infinite linear;
}
.cuadrados li:nth-child(1), .cuadrados2 li:nth-child(1)  {
    left: 25%;
    width: 140px;
    height: 140px;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
}
.cuadrados li:nth-child(2), .cuadrados2 li:nth-child(2) {
    left: 32%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
}
.cuadrados li:nth-child(6), .cuadrados2 li:nth-child(6) {
    left: 75%;
    width: 40px;
    height: 40px;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-animation-duration: 25s;
            animation-duration: 25s;
}
.cuadrados li:nth-child(13), .cuadrados2 li:nth-child(13) {
    left: 50%;
    width: 140px;
    height: 140px;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-animation-duration: 25s;
            animation-duration: 25s;
}
.cuadrados li:nth-child(14), .cuadrados2 li:nth-child(14) {
    left: 20%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-animation-duration: 25s;
            animation-duration: 25s;
}
.cuadrados li:nth-child(3), .cuadrados2 li:nth-child(3) {
    left: 90%;
    width: 80px;
    height: 80px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-duration: 26s;
            animation-duration: 26s;
}
.cuadrados li:nth-child(4), .cuadrados2 li:nth-child(4) {
    left: 10%;
    width: 50px;
    height: 50px;
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
    -webkit-animation-duration: 25s;
            animation-duration: 25s;
}
.cuadrados li:nth-child(5), .cuadrados2 li:nth-child(5) {
    left: 80%;
    width: 70px;
    height: 70px;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
    -webkit-animation-duration: 35s;
            animation-duration: 65s;
}
.cuadrados li:nth-child(7), .cuadrados2 li:nth-child(7) {
    left: 50%;
    width: 130px;
    height: 130px;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
    -webkit-animation-duration: 30s;
            animation-duration: 30s;
}
.cuadrados li:nth-child(8), .cuadrados2 li:nth-child(8) {
    left: 35%;
    width: 150px;
    height: 150px;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
    -webkit-animation-duration: 25s;
            animation-duration: 25s;
}
.cuadrados li:nth-child(9), .cuadrados2 li:nth-child(9) {
    left: 65%;
    width: 90px;
    height: 90px;
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
    -webkit-animation-duration: 25s;
            animation-duration: 25s;
}
.cuadrados li:nth-child(10), .cuadrados2 li:nth-child(10) {
    left: 55%;
    width: 100px;
    height: 100px;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    -webkit-animation-duration: 25s;
            animation-duration: 25s;
}
.cuadrados li:nth-child(11), .cuadrados2 li:nth-child(11) {
    left: 45%;
    width: 50px;
    height: 50px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-duration: 25s;
            animation-duration: 25s;
}
.cuadrados li:nth-child(12), .cuadrados2 li:nth-child(12) {
    left: 35%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    -webkit-animation-duration: 25s;
            animation-duration: 25s;
}
@-webkit-keyframes square {
    0%   { transform: translateY(0); }
    100% { transform: translateY(-700px) rotate(600deg); }
  }
@keyframes square {
    0%   { transform: translateY(0); }
    100% { transform: translateY(-700px) rotate(600deg); }
}

/**animación giro photo*/
@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}
#photo:hover{
    -webkit-animation: 3s rotate linear infinite;
    animation: 3s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
/*media queries*/
@media(max-width:600px){
    body{
        overflow-x: hidden;
        max-width: 100%;
    }
    .content{
        display: block;
    }
    .desc_content{
        max-width: 100%;
        margin-top: 2.5em;
    }
    .cuadrados, .cuadrados2{
        width: 60%;
    }
    .container{
        margin-top: 6.5em;
    }
    .cont_header{
        display: inline-block;
    }
    .navigator{
        padding: 1em 0;
    }
    
    #ccc, #ppp, #www{
        width: 90%;
    }
}
